.appointments-container {
  padding: 20px;
}

.appointments-navbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.appointments-navbar button {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
}

.appointments-navbar button.active {
  background-color: #0056b3;
}

.search-select {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.appointments-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.appointment-block {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.appointment-info p {
  margin: 5px 0;
}

.appointment-status-tab {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.appointment-status {
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

.no-appointments {
  text-align: center;
  color: #888;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border: none;
}
