body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  #navbar {
    background-color: #203151;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Distribute space evenly */
    align-items: center;
    padding: 20px 0;
    width: 200px;
    height: 100vh; /* Full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  #navbar a {
    color: #ecf0f1; /* Light text color */
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%; /* Full width for the hover effect */
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transitions */
  }
  
  #navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
    color: #ffffff; /* Ensure text remains readable on hover */
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  #navbar a.active {
    background-color: #2980b9; /* Highlight active link */
    color: #ffffff;
    transform: none; /* No zoom for active link */
  }
  
  #navbar a:active {
    transform: scale(0.95); /* Slightly shrink when active */
  }
  